.sign-in-form {
  display: flex;
  justify-content: center;
}

.sign-in-form form {
  display: flex;
  flex-direction: column;
  width: 40rem;
}

.sign-in-form input {
  padding: 0.5rem;
  margin-bottom: 1rem;
}